@import './Variables';

.maindiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem auto;
    
    @include breakpoint(md) {
      display: flex;
      flex-direction: row;
      width: 1512px;
      margin: 1.5rem auto;
      padding: 0 108px;
    }
  }

  .conatiner_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .loader_hero_checkbox {
    width: 40px;
    height: 40px;
    border: 5px solid #9333EA;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    margin-right: 1rem;
  }

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}